/* You can add global styles to this file, and also import other style files */
body{
	background: #02AA80;
	background: -webkit-linear-gradient(left, #00CDAC, #02AA80);
	background: -moz-linear-gradient(left, #00CDAC, #02AA80);
	background: -o-linear-gradient(left, #00CDAC, #02AA80);
	background: linear-gradient(to right, #00CDAC, #02AA80);
}
